.dialog-title{
    padding: 10px;
    background: #6567ac;
    color: #fff;
}

.dialog-body{
    margin: 10px;
}

.mr-r15{
    margin-right: 15px;
}

.mr-t10{
    margin-top:10px;
}

.block{
    display:block;
}